* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: normal;
    font-size: 14px;
}

window#waybar {
    background: transparent;
    /*color: #f6f7fc;*/
    /*color: #c8d9f5;*/
    color: #fff;
}

tooltip {
    background: #5c5d70;
    opacity: 1;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #34344b;
}

tooltip label{
    color: #b182c7;
}

#workspaces button {
    color: #c7bdcc;
}

#workspaces button.active {
    color: #000000;
    background: #b182c7;
    border-radius: 5px;
}

#workspaces button:hover {
    background: #821ab3;
    color: #cdd6f4;
    border-radius: 5px;
}

#custom-launch_rofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#custom-performance,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 0px;
    margin: 0px 0px;
    border: 0px;
}

#temperature.critical {
    color: #e92d4d;
}


#workspaces {
    padding-right: 0px;
    padding-left: 0px;
}

#window {
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#custom-launch_firefox, 
#custom-launch_thunderbird,
#custom-launch_thunar,
#custom-launch_kitty,
#custom-weather {
    margin-left: 0px;
    border-right: 0px;
    font-size: 24px;
    margin-right: 20px;
}

#custom-launch_rofi {
    font-size: 25px;
}

#custom-launch_firefox, 
#custom-launch_kitty {
    font-size: 20px;
}
