
#custom-koa_exec {
    font-size: 40px;
    border-radius: 30px;
    background-color: #615FC8;

}

window#waybar.left-bar .module:not(#custom-koa_exec) {
    padding: 5px;
    background-color: rgba(255, 245, 235, 0.6);
}

window#waybar.left-bar .module:not(#custom-koa_exec) {
    padding: 5px;
    background-color: rgba(255, 245, 235, 0.6);
}
window#waybar.top-bar *.module {
    padding-left:10px;
    padding: 5px;
    background-color: rgba(255, 245, 235, 0.6);
}
